* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

input{
    width:32%;
    height: 30px;
}
textarea{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.datas{
    width:20%;
}
.horas{
    width:12%;
}
.erro{
    color: #FF0000 ;
}

.headerad {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 46px;
}


/* Style the header */
.header {
    background-color: #f1f1f1;
    text-align: center;
    height: 100vh;
}

.header img{
    height: 100vh; /* view port height - altura da janela de visualização*/
    width: 100%;

}

.colunaAnuncio img{
    display: block;
    height: auto; /* view port height - altura da janela de visualização*/
    width: 100%;
    margin-bottom: 10px;

}

.colunaAnuncio h2{
    text-align: center;
}


.header h1 {
    position: relative;
    top: -70%;
    color: white;
    font-size: 500%;
}

.header p{
    position: relative;
    top: -70vh;
    color: white;
    font-size: 250%;
}
/* Style the top navigation bar */
.topnav {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    overflow: hidden;
    background-color: #2F4F4F;
    position: fixed;
    top: 0;
    left: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.col {
    background-color: #f1f1f1;
    display: inline-grid;
    width: 20%;
    margin:20px 0px 20px 20px;
    padding: 20px;
    border: 3px solid #2F4F4F;
    text-align: center;
}

.col img{
    width: 100%;
    height: auto;
}

/* Left and right column */
.column.side {
    width: 25%;
}

.colunaAnuncio{
    width: 70%;
    margin-right: auto;
    margin-left: auto;

}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    text-align: center;
}

.inicio img{
    float: right;
    height: auto;
    width: 50%;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #2F4F4F;
    padding: 10px;
    text-align: center;
    color: #f2f2f2;
}